html, body {
  font-family: Helvetica, Arial, sans-serif;
  padding: 60px;
}

input {
  color: grey;
  font-size: 12px;
  padding: 4px;
  width: 100%;
}

.card-grid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.card {
  border: thin solid gray;
  align-content: center;
  margin: 10px 0px;
  overflow: hidden;
}

.card img {
  margin: auto;
  /* max-width: 150px; */
  /* padding: 10px; */
}

.card p {
  color: dimgray;
  font-size: 11px;
  padding: 5px;
  text-align: center;
}
